body{
    background-color: #ec7284;
}

*{
    margin: none;
}


#content{
    display: flex;
    flex-direction: row;
}

#container{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

#container h1{
    font-size: 100px;
    font-family: arial;
}

button{
    background-color: #c32239;
    color: white;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px 60px;
    border-radius: 100px;
    border: none;
    margin-left: 50%;
    margin-top: 30%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease;
}